
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    /*float: left;*/
    display: inline;
}

li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
}
#menu{
    background-color: #869ba3;
    padding: 10px 0;
}

#menu a:hover:not(.active){
    background-color: #536271;
}


.active {
    background-color:#869ba3;
}


input{
    background-color: #ffab9a;
    padding: 10px 0;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
/*input[fname]{*/
    /*background-color: yellow;*/
/*}*/
body {
    font-family: sans-serif;
    color: navy;
    text-align: center;
}

.spend{
    padding-top: 100px;
    background-color: white;
    width:100%;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-position: center;
}

.bkgimg{
    background-image: url('coffee.ico');
    height:300px;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-position: center;
}
/*
#graph{
 padding-top: 10px;*/

 /* "path" without a dot in front, otherwise the graph will not render correctly! */
/*
 path { 
     stroke: steelblue;
     stroke-width: 2;
     fill: none;
 }

 .axis path,
 .axis line {
     fill: none; 
     stroke: grey;
     stroke-width: 1;
     shape-rendering: crispEdges;
 }     
}
*/
.coffee-container{
   transform: translate(-50%, -50%);
   position: absolute;
   top: 25%;
   left: 60%;
}

p.budget-used {
   transform: translate(-50%, -50%);
   position: absolute;
   top: 50%;
   left: 49%;
   font-size: 40px;
   color: #fff;
   text-shadow: -1px -1px 0 #A31919, -1px 1px 0 #7b0000, 1px -1px 0 #7b0000, 1px 1px 0 #7b0000;
}

/* ANIMATE LIQUID FILL */
.liquid {
   transform: translateX(100%);
   transform: translateY(100%);
   opacity: 0.8;
   animation: fill 3.2s;
   animation-fill-mode: forwards;
}

@keyframes fill {
   0%{
      opacity: 0.5;
      transform: translateY(100%);
   }
   100%{
      transform: translateY(20%);
      opacity: 1;
   }
}

/* ANIMATE STEAM */
.steam {
   stroke: #F7F7F7;
   stroke-width: 1.5px;
   stroke-dasharray: 200;
   stroke-dashoffset: 200;
   opacity: 0.2;
   animation: steamAnimate 2.5s;
   animation-delay: 3.3s;
   animation-fill-mode: forwards;
}

@keyframes steamAnimate{
    0%{
        stroke-dashoffset: 200;
    }
      
    100%{
        stroke-dashoffset: 0;
    }
}